<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="javascripts/jquery.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="javascripts/function.js"></script>
  <title>System Monitoring Service</title>
</head>

<body class="jui">
  <div class="container">
    <nav id="navbar" class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">System Monitoring</a>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="summary_container">
      <div class="summary-box" data-index="0" style="left: 0px, display:block;">
        <div class="summary-box-info">
          <h2 class="summary-box-info-title" style="width: 110px;">Window</h2>
          <p class="summary-box-info-content" style="width: 100%, padding-left: 15px, padding-right: 15px;">
            해당 파일은 윈도우 10 64bit 버전입니다.
          </p>
        </div>
        <div class="btn-area">
          <input type="button" class="btn btn-primary" value="다운로드" onclick="download()">
        </div>
      </div>
    </div>
    </div>
  </div>
</body>

</html>
