<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="javascripts/jquery.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <!-- Basic style components -->
  <link rel="stylesheet" href="/jui/dist/ui.min.css" />
  <link rel="stylesheet" href="/jui/dist/ui-jennifer.min.css" />
  <!-- Grid style components -->
  <link rel="stylesheet" href="/jui-grid/dist/grid.min.css" />
  <link rel="stylesheet" href="/jui-grid/dist/grid-jennifer.min.css" />
  <script type="text/javascript" src="javascripts/function.js"></script>
  <script type="text/javascript" src="/jui-core/dist/core.min.js"></script>
  <script type="text/javascript" src="/jui/dist/ui.min.js"></script>
  <script type="text/javascript" src="/jui-grid/dist/grid.min.js"></script>
  <script type="text/javascript" src="/jui-chart/dist/chart.min.js"></script>
  <script type="text/javascript" src="javascripts/jui_control.js"></script>
  <script type="text/javascript">
    function callResize() {
      // var height = document.body.scrollHeight;
      var height = $(".my_container").height();
      console.log(height + "===========================================");
      parent.Resize_Iframe(height);
    }
  </script>
  <title>System Monitoring Service</title>
</head>

<body class="jui">
  <div class="popover top">
    <div class="head">Title</div>
    <div class="body">
      <div class="image"><i class="icon-caution"></i></div>
      <div class="message">Message Message Message Message Message Message Message</div>
    </div>
  </div>
  <div class="my_container">
    <h2>Processes Chart</h2>

    <div class="my_table">
      <div class="process_info_view" style="max-width: 1400px; right: 0; left:0; margin-right: auto; margin-left: auto;">
        <h4>Process Information</h4>
        <div class="process_list">
          <div id="process_info_table" class="xtable" style="margin-top: 7px;">
            <table class="table simple headline nowrap">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>ID</th>
                  <th>CPU</th>
                  <th>Memory</th>
                  <th>Thread Count</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
          <script type="text/template" id="tpl_row">
            <! if(selectedProcessRowName == process_id) { !>
              <tr class="selected">
            <! } else { !>
              <tr>
            <! } !>
              <td>
                <!= name !>
              </td>
              <td>
                <!= process_id !>
              </td>
              <td>
                <!= process_cpu !> %
              </td>
              <td>
                <!= process_memory !> MB
              </td>
              <td>
                <!= process_thread !>
              </td>
            </tr>
          </script>
          <script id="tpl_none" type="text/template">
            <tr>
              <td colspan="5" class="none" align="center">Data does not exist.</td>
            </tr>
          </script>
          <script id="tpl_loading" type="text/template">
            <div class="loading"></div>
          </script>
        </div>
      </div>
    </div>

    <div class="my_chart process_info">
      <div class="chart_view" style="max-width: 1400px; right:0; left:0; margin-right: auto; margin-left:auto;">

        <h4>Process CPU Usage <small class="process_names"></small></h4>
        <div id="process_cpu_chart" style="margin-left: 10px; margin-right: 10px;">

        </div>
        <h4>Process Memory Usage <small class="process_names"></small></h4>
        <div id="process_memory_chart" style="margin-left: 10px; margin-right: 10px;">

        </div>
        <h4>Process Number of Thread <small class="process_names"></small></h4>
        <div id="process_thread_chart" style="margin-left: 10px; margin-right: 10px;">

        </div>
      </div>
    </div>

  </div>
</body>

</html>
