<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="javascripts/jquery.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="javascripts/function.js"></script>
  <title>System Monitoring Service</title>
</head>

<body class="jui">
  <div class="container">
    <nav id="navbar" class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">System Monitoring</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <form action="./users/signup" class="form-signup" method="post">
        <h2 class="form-signup-heading">Sign Up</h2>
        <label for="inputID" class="signup_label">ID</label>
        <div class="input-group">
          <input type="text" id="input_id" name="input_id" class="form-control" placeholder="ID" required autofocus>
          <div class="input-group-btn">
            <input type="button" class="btn btn-default btn-block" value="중복확인" onclick="chk_db()">
          </div>
        </div>
        <label for="inputPassword" class="signup_label">Password</label>
        <input type="password" id="input_pw" name="input_pw" class="form-control" placeholder="Password" required>

        <label for="inputPasswordConfirm" class="signup_label">Password confirm</label>
        <input type="password" id="input_pwc" name="input_pwc" class="form-control" placeholder="Password confirm" required>

        <label for="inputEmail" class="signup_label">E-mail</label>
        <input type="text" id="input_email" name="input_email" class="form-control" placeholder="E-mail" required>

        </br>
        <input class="btn btn-lg btn-primary btn-block" type="button" value="회원가입" onclick="go_signup()"></button>
      </form>
    </div>
  </div>
</body>

</html>
